@import '../../scss/import.scss';
.copyright {
  text-align: center;
  padding: (43px/1920px*100%) 0 0;  //41px & 41px-5px(lh)
  border-top: 1px solid $maingray;

  &__text {
    font-size: $commontext;
  }

}

