@import "../../scss/import.scss";

.scroll {
  text-align: center;

  &__text {
    font-weight: bold;
    font-size: $commontext;
    margin-bottom: 40px;
    @include laptop {
      font-size: $commontext-l;
    }

    @include tablet {
      font-size: $commontext-xl;
    }

    @include phone {
      font-size: $commontext-fix;
    }

  }

  &__img {
    @include phone {
      width: 8%;
      height: auto;
    }

  }

}
